{% extends 'master.html' %}


{% block body %}

  <!-- Contact Start -->
  <div class="container-fluid pt-5">
    <div class="container">
        <div class="row justify-content-center ">
             <div class="col-lg-4">
                 <img src="/static/img/crr.png">
            </div>
            <div class="col-lg-8">
                <div class="bg-white rounded p-5 m-5 mb-0">
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-light border-0" placeholder="Your Email" style="height: 55px;">
                            </div>
                               <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Your Mobile" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Address" style="height: 55px;">
                            </div>
                             <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Qualification" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Post Applied For" style="height: 55px;">
                            </div>
                             <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Total work experience" style="height: 55px;">
                            </div>
                             <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Skill Set" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Current Employer" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Current CTC " style="height: 55px;">
                            </div>
                           
                            <div class="col-12">
                               <input type="file" class="form-control bg-light border-0">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}